*.pyc
README.html

.vscode
__pycache__
*.pyc
*.pt
*.out

__pycache__/
.vscode/
*.ckpt
.tmp/
results/*.ipynb
results/*.ipynb*
src/datasets/synbols
usr_configs.py
tmp.png
.ipynb_checkpoints/
/Alz_temp/
/.idea/